<div class="container mt-5">
  <h2 class="mb-4">Create a Tech Blog Contribution.</h2>
  <form class="new-tech-blog-post-form">
    <div class="mb-3">
      <label for="title-new-tech-blog-post" class="form-label">Title:</label>
      <input
        type="text"
        class="form-control"
        id="title-new-tech-blog-post"
        placeholder="Enter a title."
      />
    </div>
    <div class="mb-3">
      <label for="content-new-tech-blog-post" class="form-label">Content:</label>
      <textarea
        class="form-control"
        id="content-new-tech-blog-post"
        rows="5"
        placeholder="Enter your content here."
      ></textarea>
    </div>
    <div class="mb-3">
      <button id="submit-button" type="submit" class="btn text-dark" style="background-color: #FFFFFF;">Create Tech Post</button>
    </div>
  </form>
</div>